.main
  .main__top
    .main__top__group
      .main__top__group__list
        = @group.name
        %ul.main__top__group__list__menber
          Member：
          %li.main__top__group__menber__list__menber__name
            - @group.users.each do|user|
              =user.name
    = link_to "Edit", edit_group_path(@group) ,class: "edit"
  .MessageField
    = render @messages
  .form
    = form_with model: [@group, @message], html: {class: "new_message"}, local: true do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('far', 'image') 
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'