.side
  .side__top
    .side__top__box
      .side__top__box__name
        = current_user.name
      %ul.side__top__box__IconList
        %li.side__top__box__IconList__edit
          = link_to new_group_path do
            %i.fas.fa-edit
        %li.side__top__box__IconList__cog
          = link_to edit_user_path(current_user) do
            %i.fas.fa-cog
  .side__groups
    - current_user.groups.each do |group|
      .side__groups__box
        = link_to group_messages_path(group) , class: 'group-box' do
          .side__groups__box__name
            = group.name
          .side__groups__box__message
            = group.show_last_message